<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" name="google-site-verification" content="j1a_NkzVJcnhwloSHt3SchrAqXM5GkAGSLlOT4B2FUU" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="imagem/png" href="../static/img/computer_screen_icon_231316.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>AshengS</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id = 'header'>
        <section class="profile">
            <img src="../static/img/Profile.png" alt="AshengS">
            <h1>Rafael Ferreira</h1>
            <div class="social-links mt-3 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/ashengs/">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a target="_blank" href="https://github.com/RafaFerreiraS">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/screamershead/">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>
        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio">
                      <i class = "bi bi-house" aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre">
                      <i class = "bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades">
                      <i class = "bi bi-list-check" aria-hidden="true"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#curriculo">
                      <i class = "bi bi-file-earmark" aria-hidden="true"></i> Currículo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#portifolio">
                      <i class = "bi bi-collection" aria-hidden="true"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contato">
                      <i class = "bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#cv">
                      <i class = "bi bi-cloud-download" aria-hidden="true"></i> Curriculo</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align items-center flex-column">
                <h2 class="text-white text-shadow">Rafael Ferreira</h2>
                <span id="subtitle" class="text-white text-shadow">Python and Delphi developer | PowerBuilder and C# - Sênior</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section id="sobre" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Olá, me chamo Rafael Ferreira e sou Desenvolvedor de Software com vasta experiência, já tendo trabalhado em grandes empresas como Praxio, TEx, Thomson Reuters, entre outras. Sempre focando na qualidade e melhor entrega para o usuário. <br><br>
                       Fora do mundo tecnológico, sou Pai e Marido, amo animes, mmorpg, pesca marítima, e Detectorismo e tenho um Beagle para me stressar de vez em quando 🐕 <br><br>
                       Minha frase preferida é: “O sucesso nasce do querer, da determinação e persistência em se chegar a um objetivo. Mesmo não atingindo o alvo, quem busca e vence obstáculos, no mínimo fará coisas admiráveis”. - José de Alencar
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/sobre.png" alt="Rafael Ferreira" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Desenvolvedor de Software - Sênior</h3>
                    <p>Atualmente atuo no desenvolvimento da Thomson Reuters principalmente nas linguagens PowerBuilder,
                    C# e Java em uma squad entitulada "FrameWork", dando manutenção e inovando no core dos principais produtos da empresa</p>
                    <div class="row mt-3 mb-3">

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Data de Nasc. <span class="fw-lighter">28 de Julho de 1994</span></li>
                                <li class="list-group-item">Idade <span class="fw-lighter">28 Anos</span></li>
                                <li class="list-group-item">Cidade <span class="fw-lighter">São Paulo</span></li>
                                <li class="list-group-item">Estato <span class="fw-lighter">SP</span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Hobby <span class="fw-lighter">Pescaria e Detectorismo </span></li>
                                <li class="list-group-item">Minha # <span class="fw-lighter">AshengS</span></li>
                                <li class="list-group-item">Trabalho <span class="fw-lighter">Thomson Reuters</span></li>
                                <li class="list-group-item">Experiência <span class="fw-lighter">+11 anos</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">

                    </div>
                    <p>Profissional comprometido com a equipe e com as entregas. Sempre bem humorado e sempre aprendendo alguma coisa nova.</p>

                </div>
            </div>
        </section>

        <section id ="habilidades" class="mt-5 section-bg" >
            <div class="container pb-5">
                <h2 class="pt5">Habilidades</h2>
                <p>
                    Em todo tempo como profissional de tecnologia, adquiri algumas habilidades técnicas e não técnicas, a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada uma delas.
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%">75%</div>
                        </div>

                        <p class="mt-3 mb-0">Delphi</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
                        </div>

                        <p class="mt-3 mb-0">C#</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50%">50%</div>
                        </div>

                        <p class="mt-3 mb-0">Java</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 40%">40%</div>
                        </div>
                        <p class="mt-3 mb-0">Métodologias ágil</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left"  class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">PL/SQL</p>
                        <div class="progress"  role="progressbar" aria-label="Animated striped example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
                        </div>
                        <p class="mt-3 mb-0">PowerBuilder</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 40%">40%</div>
                        </div>
                        <p class="mt-3 mb-0">HTML/CSS</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 35%">35%</div>
                        </div>
                        <p class="mt-3 mb-0">GIT</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">NoSQL</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 55%">55%</div>
                        </div>
                    </div>
                </div>
                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em Equipe</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 95%">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Adaptabilidade</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Documentador</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Confiabilidade</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 95%">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Flexibilidade</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Liderança</p>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 55%">55%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id ="curriculo" class="mt-5 cv">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3>Profissional</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Software Development Engineer</h4>
                            <h5>Thomson Reuters · Tempo integral</h5>
                            <p><e>Julho de 2022 – O momento</e></p>
                            <p> Responsável pela análise, definição, projeto, construção, teste, instalação, modificação e manutenção de sistemas de informação adequadamente projetados, contendo software como componente principal, para atender às necessidades de negócios acordadas.
                                <br>Desenvolvedor do Framework na maior player de soluções contábeis e jurídicas do mundo, responsável por desenvolver novos produtos e prestar suporte em diversas ferramentas utilizando diversas tecnologias, tais como:
                               Powerbuilder, CSharp, Java, Cpp, utilizando banco de dados PostGreSQL e ODBC. </p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Análista de sistemas sênior</h4>
                            <h5>TEx Tecnologia</h5>
                            <p><e>Dezembro de 2020 – Julho de 2022 · 1a 8m</e></p>
                            <p> Iniciei na Squad de Pronta Resposta (Sustentação), 2 meses depois recebi a proposta de iniciar uma nova Squad de Projetos - Customizações, onde desenvolvi diversos projetos de grande porte para grandes empresas como Honda, Marsh, Yamaha, Volks, etc. Tornei-me TechLead de uma das maiores squads da empresa utilizando a tecnologia Delphi 10 com banco MySQL. Pouco antes de encerrar minha jornada na empresa, migrei para a Squad de Projetos/Integrações responsável pelo desenvolvimento de diversas APIs Rest, utilizando Python, Redis, MySql, Mongo e responsável pelo deploy das aplicações com Docker, montar ambientes estáveis, master, staging, entre outros processos para manter as aplicações estáveis.
                                Atuei semanalmente como Head no Sáude TP (saúde Teleport, nosso sistema) onde montamos logs (memory leak) e tratativas para melhorar o desempenho do sistema. Participei dos levantamentos de esforço de Projetos da squad de Customizações e Integrações;
                                Na TEx, existe um sistema de Apadrinhamento na empresa, quando entra um Dev novo, alguém fica como responsável em tirar todas as dúvidas técnicas e operacionais do sistema, apadrinhei 7 devs, hoje em sua maioria, sêniores na empresa, inclusive um MVP em Intraweb da Embarcadero. </p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Análista de sistemas sênior</h4>
                            <h5>ADV Tecnologia</h5>
                            <p><e>Junho de 2017 – Dezembro de 2020 · 3a 7m</e></p>
                            <p> Desenvolvimento em: Delphi XE5; C# Windows Form, .Net Core, Rest Banco de Dados FireBird 2.5, SQL Server, MySQL.
                                Tendo como linguagem principal Delphi XE5, responsável manter o ERP (Business) atualizado, desenvolvendo novas funcionalidades, correção de
                                problemas, e gereciamento de sistemas externos com ligação direta ao ERP;
                                Melhor atuação no desenvolvimento de novas ferramentas para clientes que possuem módulos próprios e adaptados para à regras de negócio específicas;
                                Único responsável pelo módulo de emissão de nota fiscal de serviços (NFS-e) de todos os clientes da carteira da empresa;
                                Responsável por ministrar Treinamentos de qualidade de desenvolvimento de código e criar manuais de boas práticas de desenvolvimento em Delphi; </p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Análista de sistemas</h4>
                            <h5>BGM Rodotec (Atualmente Praxio Tecnologia)</h5>
                            <p><e>Outubro de 2012 – Novembro de 2016 · 4a 2m</e></p>
                            <p>Desenvolvimento em Delphi 7; Banco de Dados Oracle e Visual Studio (C#).
                                Onde tinha função de desenvolver novas tecnologias em qualidade de processo, solucionar problemas, desenvolvimento novos componentes, atualização de modelagem de dados (Erwin), atualização do banco de dados e melhoramento da performance para os ERPs Globus (Delphi) e Globus+ (.Net).</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Educação</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Senac São Paulo</h4>
                            <h5>Bacharelado em Análise e Desenvolvimento de Sistemas</h5>
                            <p><e>jan de 2015 - jun de 2016 </e></p>
                            <p>Curso com foco em programação e manutenção de demandas para desktop e web. Aprendemos na prática a analisar, projetar, especificar, documentar, testar e implementar sistemas com as técnicas e ferramentas mais atuais do mercado, em uma infraestrutura excelente.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Universidade Paulista</h4>
                            <h5>Bacharelado em Ciência da Computação</h5>
                            <p><e>jan de 2012 - jun de 2014 </e></p>
                            <p>Curso voltado para desenvolver e implementar soluções complexas, além de gerenciar softwares com arquitetura inteligente. Focado em primorar seu senso lógico e suas habilidades para inovar a partir de uma base teórica e prática profunda para se destacar no mercado.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>AS. Nossa Senhora de Fátima</h4>
                            <h5>Tecnologo/Profissionalizante - Programação de Computadores</h5>
                            <p><e>jan de 2010 - dez de 2010 </e></p>
                            <p>Curso voltado a programação de computadores, suporte técnico afim de atender a diversas demandas de uma corporação, contribuindo para o crescimento e aperfeiçoamento dos processos de tecnologia</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Cursos</h4>
                            <h5>Alura; Udemy; Linkedin; Conquer; +</h5>
                            <p><e>jan de 2010 - o momento </e></p>
                            <p>40+ cursos voltados a tecnologia, mais detalhes em <a href="https://www.linkedin.com/in/ashengs/details/certifications/"> certifications </a></p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id ="portifolio" class="mt-5 section-bg">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Portfólio</h2>
                <div id="carouselPortifolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/Delphi_XE.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Delphi</h5>
                                            <p class="card-text">Comecei no Delphi em 2012 na BGM Rodotec, desde então, desenvolvi diversas ferramentas com o mesmo, desde aplicações desktop à web.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="http://programmercrazy.blogspot.com/" target="_blanck" class=" btn brn_outline-primary"> <i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/Python.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Python</h5>
                                            <p class="card-text">Conheci a linguagem em 2020, mas só em 2021 entrei nesse mundo pythonico, hoje se tornou minha linguagem TOP 1. Fiz diversos projetos em pythom, incluindo este portfólio.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/RafaFerreiraS?tab=repositories" target="_blanck" class=" btn brn_outline-primary"> <i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/csharp.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">C Sharp</h5>
                                            <p class="card-text">Meu primeiro contato com C# foi em 2010 em curso tecnologo de programação, desde então, venho atuando com o mesmo, porém nunca como linguagem de programação principal.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/RafaFerreiraS?tab=repositories" target="_blanck" class=" btn brn_outline-primary"> <i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/Portfolio.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Portfólio</h5>
                                            <p class="card-text">Portfólio desenvolvido por mim, com Pythom, Flask, HTML, CSS, Bootstrap e Java Script. Neste projeto mostra um pouco de uma página python Web responsiva.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/RafaFerreiraS?tab=repositories" target="_blanck" class=" btn brn_outline-primary"> <i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/Economia.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Cotação</h5>
                                            <p class="card-text">Aplicativo .exe desenvolvido em Python, responsável por buscar a cotação atualizada de diversas moedas, fazer a conversão de/para e o balanço de x dias das moedas</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/RafaFerreiraS?tab=repositories" target="_blanck" class=" btn brn_outline-primary"> <i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/git.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Git</h5>
                                            <p class="card-text">Ahh o Git, com ele aprendi como trabalhar com diferentes branches num projeto, trabalhar com repositórios remotos no Github e que o SVN não é tão bom assim (rs). </p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/RafaFerreiraS?tab=repositories" target="_blanck" class=" btn brn_outline-primary"> <i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/EmBreve.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Em Breve</h5>
                                            <p class="card-text">Como 95% dos meus projetos estão em HD's, em breve farei o upload dos mesmo no git e deixarei uma detalhamento sobre cada um. São Apps em Delphi, Python, C#, Java, Go... Fique ligado! 😊 </p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://www.youtube.com/watch?v=w7XIg34JGIw&ab_channel=Mipon" target="_blanck" class=" btn brn_outline-primary"> <i class="bi bi-hourglass-split"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <section id ="contato" class="pt-5 pb-5">
            <div class="container mb-5">
                <h2 class="pt-3 pb-2">Contato</h2>
                <h6 class="pt-3 pb-3">Deseja algum serviço de "Criação de Softwares", aulas ou até mesmo um portfólio desses? Envie um Email!</h6>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>rafael_ferreira.s@hotmail.com.br</p>
                            </div>
                            <div class="whatsapp">
                                <h4><i class="bi bi-whatsapp"></i> Whatsapp:</h4>
                                <p>(11) 9 7665-7765</p>
                            </div>
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.7024168958005!2d-46.72364488518318!3d-23.829178784550543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce49c6f782f8e5%3A0x6af6400b096f8f1f!2sRua%20Eloy%20Domingues%20da%20Silva%2C%20255-125%20-%20Jardim%20Novo%20Parelheiros%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004890-185!5e0!3m2!1spt-BR!2sbr!4v1674685428454!5m2!1spt-BR!2sbr"
                                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>
                    </div>
                    <div class="col-md-7 mt-5 mt-md-0" data-anime="left">
                        <div class="card p-5 h-100 shadow border-0">
                            <form class="row g-3" action="/send" method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome</label>
                                    <input type="text" class="form-control" placeholder="Digite seu nome" id="nome" name="nome" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
                                </div>
                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem</label>
                                    <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10" placeholder="Digite sua mensagem" required></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id="btn-enviar" type="submit" class="btn btn-outline-primary">Enviar mensagem</button>
                                    <button id="btn-enviar-load" class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>Enviando...</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id ="cv" class="mt-5 section-bg" >
            <div class="container pb-5">
				<h2 class="pt-3 pb-2" data-anime="left">Curriculo 🗂️</h2>
                <div class="row">
                    <div class="col-md-12 mt-5 mt-md-0" data-anime="up">
                        <div class="card p-5 h-100 shadow border-0">
                            <form class="row g-3" action="/download" method="POST">
                                <div class="col-md-12">
                                    <label class="form-label">Click no botão abaixo para efetuar o Download: </label>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id="btn-enviar-pergunta" type="submit" class="btn btn-outline-primary">Download</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
			</div>

		</section>


        {% with messages = get_flashed_messages(category_filter=["sucess"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle-fill"></i> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["answer"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div id="alerta_resposta" class="alert alert-info alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <h4 class="alert-heading">Resposta:</h4>
                        <p class="mb-0"></p>
                        <p>{{ message }}</p>
                        <hr>
                        <p class="mb-0">Gostou? Envie um FeedBack na aba Contato 😊 </p>
                        <p class="mb-0">By - AshengS</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                <p>Este site já foi visitado {{visitas}} vezes.</p>
            </div>
            <div class="text-center">
                &copy; Copyright <strong>Rafael Ferreira - AshengS</strong>
            </div>
        </div>

    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>